# Ignore node_modules directory
node_modules
# Ignore npm cache
.npm



# Ignore development and build artifacts
.git
.gitignore
.vscode/
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore test and coverage reports
coverage
